<!doctype html>
<title>Hello from Flask</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
<br>
<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
<form method=post target="dummyframe">
{% if admin %}
<h1>Admin Options</h1>
<h2>Hide Votes?</h2>
	<input type=submit name=vote value="True">
	<input type=submit name=vote value="False">
	<br>
	<input type=text name=message value="{{information}}">
	<input type=submit value=update>
	<br>
	<input type=submit name=vote value=Reset>
<br>
{% endif %}
	<input type=submit name=vote value="1" onclick="changeColor(this)"/>
	<input type=submit name=vote value="2" onclick="changeColor(this)"/>
	<input type=submit name=vote value="3" onclick="changeColor(this)"/>
	<input type=submit name=vote value="5" onclick="changeColor(this)"/>
	<input type=submit name=vote value="8" onclick="changeColor(this)"/>
	<input type=submit name=vote value="13" onclick="changeColor(this)"/>
</form>
<br>
<h2>Current Message</h2>
<br>
<div id="cur_msg" class="flash">
{{ information }}
</div>
<br>
<br>
<h2>Voting Stats</h2>
<div id="this-div" class="flash">
{{ board }}
</div>

<script>
function changeColor(button) {
  inputs = document.getElementsByTagName("input")
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].style.color = "black";
  }
  button.style.color = "red";
}
</script>
<script>
    // Client-side Javascript in the HTML
    var targetContainer = document.getElementById("this-div");
    var eventSource = new EventSource("/stream/{{ room_id }}");

    eventSource.onmessage = function(e) {
	var room_data = JSON.parse(e.data);
	var users_data = room_data.users;
	var results = "";
	for (var name in users_data) {
	    var user_data = users_data[name];
	    var vote = user_data["vote"];
	    if (vote.replace(/\s/g,'') == "-1") {
                vote = "?";
            }
	    results += "" + name + " votes " + vote + "<br>";
        } 
	targetContainer.innerHTML = results;
	document.getElementById("cur_msg").innerHTML = room_data.msg
    };
</script>
